<a href="https://colab.research.google.com/github/pranjal-lakhotia/pandas/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
!pip install pandas
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv',',')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Step 3. Assign it to a variable called df.

In [21]:
df1 = df.iloc[:,0:12 ]

In [22]:
df1['Mjob']

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [23]:
df1 =  df.iloc[:,0:12 ]

### Step 5. Create a lambda function that will capitalize strings.

In [7]:
def func(x):
    return x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [24]:
df1['Fjob'] = df1['Fjob'].apply(lambda x:x.capitalize())

In [25]:
df1['Mjob'] = df1['Mjob'].apply(lambda x: x.capitalize())

In [26]:
df1[['Fjob','Mjob' ]]

         Fjob      Mjob
0     Teacher   At_home
1       Other   At_home
2       Other   At_home
3    Services    Health
4       Other     Other
..        ...       ...
390  Services  Services
391  Services  Services
392     Other     Other
393     Other  Services
394   At_home     Other

[395 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [27]:
df1.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

In [12]:
df1.tail()

,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,1,2,2,no,yes,yes,no,yes,yes,no,...,5,5,4,4,5,4,11,9,9,9
391,2,1,0,no,no,no,no,no,yes,yes,...,2,4,5,3,4,2,3,14,16,16
392,1,1,3,no,no,no,no,no,yes,no,...,5,5,3,3,3,3,3,10,8,7
393,3,1,0,no,no,no,no,no,yes,yes,...,4,4,1,3,4,5,0,11,12,10
394,1,1,0,no,no,no,no,yes,yes,yes,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [13]:
fixed in previous step

SyntaxError: ignored

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [28]:
def majority(x):
    return x > 17

In [29]:
df1['legal_drinker'] = df1['age'].apply(majority)

In [30]:
df1[df1['legal_drinker'] == False]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother,False
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother,False
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother,False
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father,False
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [32]:
def times10(x):
    if type(x) is int:
        return 10 * x
    return x

In [34]:
df1.applymap(times10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True