# Ex2 - Getting and Knowing your Data

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

chipo.shape[0]

4622

In [ ]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
chipo.sort_values()?

SyntaxError: ignored

### Step 9. Which was the most-ordered item?

In [ ]:
chipo.groupby(['item_name']).sum().sort_values( 'quantity',ascending='false')

                                       order_id  quantity
item_name
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1
Chips and Mild Fresh Tomato Salsa           279         1
Crispy Tacos                                434         2
Salad                                      1150         2
Bowl                                        472         4
Steak Salad                                2362         4
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Burrito                                    1550         6
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Chicken Salad                             10465         9
Barbacoa Salad Bowl                        9708        10
Barbacoa Crispy Tacos                      5613        12
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Izze                                      10587        20
Chips and Roasted Chili Corn Salsa        14999        23
Barbacoa Soft Tacos                       18725        25
Chips and Tomatillo-Red Chili Salsa       18344        25
Nantucket Nectar                          21814        29
Steak Salad Bowl                          29590        31
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Crispy Tacos                        35818        36
Carnitas Soft Tacos                       37673        40
Chips and Tomatillo Green Chili Salsa     41170        45
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Red Chili Salsa       45556        50
6 Pack Soft Drink                         52322        55
Steak Soft Tacos                          50177        56
Carnitas Burrito                          51652        60
Barbacoa Bowl                             53972        66
Carnitas Bowl                             62742        71
Veggie Bowl                               72270        87
Barbacoa Burrito                          74718        91
Veggie Burrito                            80962        97
Side of Chips                             84769       110
Chicken Soft Tacos                        98395       120
Chicken Salad Bowl                       117104       123
Canned Soda                               76396       126
Chips and Fresh Tomato Salsa             100419       130
Bottled Water                            175944       211
Steak Bowl                               193752       221
Chips                                    208004       230
Canned Soft Drink                        304753       351
Steak Burrito                            328437       386
Chips and Guacamole                      449959       506
Chicken Burrito                          497303       591
Chicken Bowl                             713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
agg = chipo.groupby( ['item_name'] ).agg({'quantity':'sum'})
agg.sort_values('quantity',ascending=False)[:1]

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo.groupby('choice_description').sum().sort_values('quantity',ascending=False)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [ ]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo.item_price = chipo.item_price.apply(lambda x:float(x[1:]))

#### Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [ ]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
chipo['total_order_price'] = chipo.quantity * chipo.item_price
chipo.groupby(by=['order_id']).sum().mean()['total_order_price']

21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [ ]:
chipo.item_name.value_counts().count()

50